<footer class="footer">
  <nav>
    <b><h4><%= "Nguyen Thi Trong Nghia" %></h4><b>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
